version: 2

updates:
  # pnpm / npm dependencies
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: weekly
      day: monday
      time: "04:00"
      timezone: "UTC"

    open-pull-requests-limit: 3
    rebase-strategy: auto

    # Exclude major updates
    ignore:
      - dependency-name: "*"
        update-types:
          - "version-update:semver-major"

    # Dependency grouping
    groups:
      core-framework:
        patterns:
          - "next"
          - "react"
          - "react-dom"
          - "@next/env"
          - "eslint-config-next"

      content-rendering:
        patterns:
          - "unified"
          - "remark*"
          - "rehype*"
          - "shiki"
          - "@shikijs/*"
          - "to-vfile"
          - "vfile*"
          - "unist-util-visit"
          - "image-size"

      development:
        dependency-type: development

      production:
        dependency-type: production

  # TODO: GitHub Actions
  # - package-ecosystem: "github-actions"
  #   directory: "/"
  #   schedule:
  #     interval: weekly
  #     day: monday
  #     time: "04:00"
  #     timezone: "UTC"

  #   open-pull-requests-limit: 3
  #   rebase-strategy: auto

  #   groups:
  #     github-actions:
  #       patterns:
  #         - "*"
